<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.mapper.UserMapper">

    <sql id="userColumns">
        idx
        , username
		, password
		, admin_yn
		, delete_yn
		, insert_time
		, update_time
    </sql>

    <insert id="signUpUser" parameterType="UserDTO">
        INSERT INTO user (
            <include refid="userColumns" />
        ) VALUES (
         #{ idx }
        , #{ username }
        , #{ password }
        , default
        , default
        , NOW()
        , NOW()
        )
    </insert>

    <select id="checkUserNameExists" parameterType="UserDTO" resultType="boolean">
        SELECT EXISTS
            (
            SELECT
                <include refid="userColumns"/>
            FROM
                user
            WHERE
                delete_yn = 'N'
            AND
                username = #{username}
        )
    </select>

    <select id="selectPassword" parameterType="UserDTO" resultType="String">
        SELECT
            password
        FROM
            user
        WHERE
            delete_yn = 'N'
        AND
            username = #{username}
    </select>
</mapper>